<header class="header">
    {{ if $.Site.Params.logo }}
        <div class="header__title" id="title_logo">
            <a href="{{ $.Site.BaseURL }}" class="header__title__link" alt="Home">
                <!-- <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.logo }}" class="header__title__logo" alt="{{ $.Site.Title }}"> -->
                <img src="https://kuniatsu.github.io/flyboard/images/logo.png" class="header__title__logo" alt="{{ $.Site.Title }}">
            </a>
        </div>
    {{ else }}
        <div class="header__title">
            <a href="{{ $.Site.BaseURL }}" class="header__title__link" alt="Home">
                    {{ $.Site.Title }}
            </a>
        </div>
    {{ end }}


    {{ partial "menu.html" . }}
    {{ partial "hamburger-menu.html" . }}
</header>